/*------------------------------------------------*/
/*----------------- M O B I L E ------------------*/
/*------------------------------------------------*/

/*---------- BASE ----------*/

.container {
    max-width: 425px;
    margin: auto;

}

a {
    text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    }

img {
    object-fit: cover;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Shrikhand', cursive;
    font-weight: 700;
    padding: 0.3em;
}

h2 {
    font-size: 1.7em;
    font-weight: 700;
}

p {
    font-size: 1.2em;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/*---------- HEADER ----------*/

.logo_title {
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.50);
    position: relative;
    z-index: 100;
}

/*---------- LOCATION ----------*/

.location {
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: rgb(236, 236, 236);
    height: 3.2em;
    color: rgb(80, 80, 80);
}

.location_icon {
    margin-right: 1rem;
}

.location_text {
    font-weight: bolder;
}

/*---------- MENU ----------*/

.home {
    text-align: center;
    background-color: rgb(250, 250, 250);
    padding: 2rem;
}

.home_title {
    margin-top: 0;
}

.home_text {
    font-weight: lighter;
    padding-bottom: 1rem;
}

.home_btn {
    border-radius: 5rem 5rem;
    padding: 1rem 1rem;
    background-image: linear-gradient(to bottom, #FF79DA 0%, #ac6ff7 100%);
    color: white;
    border: none;
    box-shadow: 0.30rem 0.30rem 0.5rem rgb(0 0 0 / 0.20);
    font-size: 1em;
}

/*---------- HOW TO ----------*/

.how_to {
    padding: 1.5em;
}

.how_to li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f6f6f6;
    border-radius: 1.25rem;
    padding: 0.40rem;
    margin: 1rem 0 1.5rem 0.75rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
    position: relative;
}

.how_to_icon {
    font-size: 1.2em;
    color: #5f5d5d;
    padding-left: 1.5rem;
}

.how_to_text {
    margin-right: 2rem;
    font-weight: bolder;
}

.how_to_count {
    background-color: #9356DC;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    left: 0;
}

 /*---------- RESTAURANTS ----------*/

 